<div class="container">
  <div class="row m-sm-5">
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
      <div class="card text-center">
        <div class="card-header justify-content-between">
          Contas
          <a class="btn btn-primary align-items-end" href="#" role="button">Criar Conta</a>
        </div>
        <div class="card-body painel-gasto">
          <app-conta></app-conta>
        </div>
        <div class="card-footer text-muted">
          Data de Crição Carteira
        </div>
      </div>
    </div>
  </div>
</div>

