<div class="container">
  <div class="row m-sm-3">
    <nav class="navbar col-sm-12 navbar-expand-xl navbar-dark bg-primary">
      <a class="navbar-brand" href="#">XGastp</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="row m-sm-5">
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">
      <div class="card text-center">
        <div class="card-header justify-content-between">
          Contas
          <a class="btn btn-primary align-items-end" href="#" role="button">Criar Conta</a>
        </div>
        <div class="card-body painel-gasto">
          <app-conta></app-conta>
        </div>
        <div class="card-footer text-muted">
          Data de Crição Carteira
        </div>
      </div>
    </div>
  </div>
</div>

